@page "/login"
@inject NavigationManager Nav
@inject IHttpContextAccessor HttpContextAccessor
@using System.Security.Claims
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Authentication.Cookies
@inject AuthenticationStateProvider AuthenticationStateProvider
@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager NavigationManager
<h3>Iniciar sesión</h3>

<EditForm Model="@credenciales" OnValidSubmit="IniciarSesion" FormName="loginForm">
    <InputText @bind-Value="credenciales.Usuario" placeholder="Usuario" />
    <InputText @bind-Value="credenciales.Clave" type="password" placeholder="Contraseña" />
    <button type="submit">Ingresar</button>
</EditForm>

@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }
    [SupplyParameterFromForm]
    private UsuarioLogin? credenciales { get; set; } = new();


    private async Task IniciarSesion()
    {
        // buscar usuario

        var claims = new List<Claim> {
new Claim(ClaimTypes.Name, credenciales.Usuario),
new Claim(ClaimTypes.Role, "Admin")
};
        var identity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
        var principal = new ClaimsPrincipal(identity);
        await HttpContext.SignInAsync(principal);
        NavigationManager.NavigateTo("/");
    }

    public class UsuarioLogin
    {
        public string Usuario { get; set; }
        public string Clave { get; set; }
    }
}